*.swp
*~

/INSTALL
aclocal.m4
autom4te.cache
/build-aux
config.guess
config.cache
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
missing
stamp-h1
depcomp
compile
/test-driver

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

Makefile
Makefile.in

.deps
.libs

*.o
*.lo
*.la
*.pyc

*-glue.[ch]
*-marshal.[ch]
*-enumtypes.[ch]
*-bindings.[ch]
*-gen.h

data/org.freedesktop.Telepathy.ConnectionManager.matrix.service

extensions/_gen
extensions/extensions.html

src/telepathy-matrix
src/telepathy-matrix.8

core
cscope.out
tags
GPATH
GRTAGS
GSYMS
GTAGS

tests/test-ctcp-kill-blingbling
tests/test-ctcp-tokenize
tests/test-text-encode-and-split
tests/test-tokenize-leading-space
tests/test-tokenize-leading-space.c
tests/*.log
tests/*.trs

tests/twisted/config.py
tests/twisted/matrix-twisted-tests.list
tests/twisted/tools/exec-with-log.sh
tests/twisted/tools/matrix-testing.log
tests/twisted/tools/org.freedesktop.Telepathy.ConnectionManager.matrix.service
tests/twisted/run-test.sh
tests/twisted/test-suite.log
tests/twisted/tools/tmp-session-bus.conf

tests/twisted/with-session-bus*.dbus-monitor-logs
tests/twisted/with-session-bus*.address
tests/twisted/with-session-bus*.pid
